<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
            <link rel="stylesheet" type="text/css" href="/css/layout.css">
        </head>

        <body>
        <nav>
        <a href="/"><h1>Alpinists</h1></a>
        <% if session[:user_id] %>
            <h2> <%= @user_username %></h2>
            <a href="/signout">Sign out</a>
            <a href="/user/<%= session[:user_id] %>/profile">Profile</a>
            <a href="/user/<%= session[:user_id] %>/settings">Settings</a>
            <a href="/user/<%= session[:user_id] %>/post">Create a post</a>

        <% else %>
        <a href="/signin">Sign In</a>
        <a href="/signup">Create your blog</a>
        <% end %>
        </nav>
        <div class="wrapper">
            <%= yield %>
            </div>
        </body>
        

</html>